*{margin: 0;padding: 0;}
ul,li{list-style: none;list-style-position: outside;}

body{
	background-color: #666;
	color: #ddd;
	font-family: sans-serif;
	
}
#title{
	width: 55px;
	height: 55px;
	position: absolute;
	top: 150px;
	right: 100px;
	
}
#title img{opacity: 0.3}
#title img:hover{opacity: 1;}

header{
	width: 100%;
	height: 128px;
	background: #555;
	box-shadow: 0 0 8px #222;
}
h1{text-align: center;display: block;font-size: 3em;font-weight: bold;line-height: 128px;}
#zuopin{
	width: 1000px;
	margin: 30px auto;
	height: 600px;
		
}
.ul1{width: 100%;height: 220px;}
.ul1 li{
	display: block;
	width: 225px;
	height: 210px;
	margin: 10px;
	float: left;
	
	
}
.ul1 li:hover{box-shadow: 1px 1px 10px  #b7b7b7;border-radius: 10px;}
.ul1 img{width: 200px;height: 160px;overflow: hidden;padding:10px 12px; opacity: 1;}
.ul1 img:hover{-webkit-filter: grayscale(50%);}
.ul1 a{
	font-family: sans-serif;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	display: block;
	color: #ddd;
}