*{margin: 0;padding: 0;}
ul,li{list-style: none;list-style-position: outside;}
a{text-decoration:none;}
body{
	background: url("image/fullbody.png") repeat scroll transparent;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.bgAllImage{display: block;position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
.wrap{width: 1000px; height: 100%;margin: 0	auto;}
#main_container{width: 280px;height: 100%;float: left; display: block;}
.main-panel{position: relative!important;
	display: block!important;
	width: 280px; 
	background: #fff;border-radius: 7px;
	box-shadow: 2px 2px 6px rgba(0,0,0,.7);
	height: 80%;
	top: 12%;
	transition:none!important;
}
.main-panel .panel_body{
	background: transparent;
}
.panel_body_container{
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	bottom: 50px;
}
.panel_body{
	width: 100%;
	min-height: 100%;
	position: relative;
	background: #ededed;
}
.accountHeader{
	z-index: 10001;
	position: absolute;
	display: block;
	width: 100%;
	top: -50px;
}
.avatar_wrap{
	width: 40px; 
	height: 40px;
	left: 20px; 
	top:-22px;
	position: absolute;
	border: 3px solid #fff;
	box-shadow: 1px 1px 5px #000; 
}
.avatar_wrap img{width: 40px; height: 40px;}
.state_online{background-position: 0 0;}
.state_online{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
	background-image: url(image/state_sprite.gif);
	background-repeat: no-repeat;

}
.user_nick{ 
	margin-left: 77px;
	top: -21px;	
	font-size: 16px;
	position: absolute; 
	text-shadow: 0 0 3px snow,0 0 3px snow,0 0 3px snow ,0 0 3px snow;
	overflow: hidden;
	height: 22px;
	width: 148px;
	line-height: 16px;
}
.text_ellipsis{text-overflow:ellipsis; overflow:hidden; white-space: nowrap;}
.user_shuoshuo{
	top: 4px; 
	font-size: 12px;
	margin-left: 77px;
	line-height: 12px;
	position: absolute;
	text-shadow:0 0 3px snow, 0 0 3px snow,0 0 3px snow, 0 0 3px snow;
	overflow: hidden;
	height: 22px;
	width: 148px;
}
.icons_list{
	position: absolute;
	left: 20px;
	top: 30px;
}

.icons_list a{text-indent: -9999px;
	float: left;
	margin-right: 8px;
	width: 15px;
	height: 15px;
	background-image: url(image/icons_list.png);
	background-repeat: no-repeat;
	

}
.i_qzone{background-position: 0 0;}
.i_mail{background-position: -20px 0;}
.i_weibo{background-position: -40px 0;}
.i_video{background-position: -60px 0;}
.i_qqwebsite{background-position: -81px 0;}
.i_music{background-position: -103px -1px;}
.i_wallet{background-position: -124px 0;}
.i_pengyou{background-position: -144px 0;}
.i_weiyun{background-position: -166px 0;}

.wallpaper-ctrl{position: absolute; bottom: -96px;}
.wallpaperImg{
	width: 19px;
	height: 19px;
	margin: 0 3px; 
	overflow: hidden;
	background: url(image/arrow.png) no-repeat;
	display: inline-block;
	text-decoration: none;
}


#panel-2.selected{display: block;}
.panel{width:100%;height: 100%; position: absolute;left: 0;top:0; display: none;}
.panel header{height: 45px;width: 100%;border-radius: 6px 6px 0 0;}
header{background:linear-gradient(#555,#222);}
.panel_header{position: relative;z-index: 100;}
.padding_20{padding-right: 30px; padding-left: 20px;}
.text_ellipsis{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
header>h1{
	padding: .75em .45em;
	color: #fff; 
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	box-flex:15;
}
h1{display: block;font-size: 2em;font-weight: bold;}
.panel_body_container{
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	

}
#panelBodyWrapper-1{top: 45px;}
.panel_body{
	background: transparent;
	width: 100%;
	height: 100%;
	position: relative;
}
.scrollWrapper{
	overflow: hidden;
	bottom: 0;
	top: 0;
	position: absolute;
	left: 0;
	width: 100%;
}
#current_chat_list{
	width: 100%;
}
.list:first-child {
	margin-top: 0;
}
.list{
	position: relative;
	box-sizing:border-box;
	background: #fff;
	box-shadow: 0 1px rgba(255,255,255,.7);
}
.list>li:first-child{border-top-width:0; }
.list>li:last-child{border-bottom:1px solid	#e3e3e3; }
.list>li{
	position:relative; 
	border-top: 1px solid #e3e3e3;
	padding:.15em 1px;
	line-height: 100%;
	cursor: pointer;
}
.list_white>li{
	border-color: #ccc;
	background: linear-gradient(#fff,#f1f1f1);
}
.list_item .avatar{float: left;position: relative;}
.avatar{width: 40px;height: 40px;margin:8px !important;}
.list_item .avatar img{width: 100%;height: 100%;}
.lazyLoadImg.loaded{
	opacity: 1;
}
.list_item:after{visibility: hidden;display: block; content: " ";clear: both;}
.lazyLoadImg{trsnsition:opacity 1s;}
.member_nick{line-height: 23px;height: 22px;overflow: hidden;}
.member_nick{padding: 6px 0 0 5px;}
.member_nick{padding-right: 5px !important;}
.member-msg{overflow: hidden; font-size: 12px;color: #aaa;line-height: 28px; padding-left: 5px;}
.text_ellipsis{overflow: hidden; text-overflow:ellipsis;white-space: nowrap;}

 footer{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 0 0 6px 6px;
	background: linear-gradient(#555,#222);
}
.nav_tab_head{
	width: 280px;height: 50px;
}
.nav_tab_head li {display: block;}
#session{border-radius: 0 0 0 6px;}
nav li.selected{
	background: #333;
	border-left-color: #222;
	
	text-shadow:0 1px 0 #000;
	box-shadow: inset 0 0 10px #111;

}
nav li{
	
	width: 68px;
	position: relative;
	overflow: hidden;
	height: 50px; 
	border-right: 1px solid #222;
	border-left: 1px solid #555;
	color: #ccc;
	font-size: 14px; 
	text-align: center;
	cursor: pointer;
	float: left;
	box-shadow: inset 0 0 10px transparent;
}
nav li:first-child{
	border-left: 0;
}
nav li:last-child{
	border-right: 0;
}
nav li a{
	display: inline-block;
	overflow: hidden;
	height: 100%;
	position: relative;
	color:#fff;
}

.selected.contact .icon{
	background-image: url(image/tab_icon_conversation_selected.png);
}
.conversation .icon{
	background-image: url(image/tab_icon_contact.png);
}
.plugin .icon{
	background-image: url(image/tab_icon_plugin.png);
}
.setup .icon{
	background-image: url(image/tab_icon_setup.png);
}
nav a .icon{display: inline-block; width: 34px;height: 34px; background-size: 100% 100%;}

#nav_tab a span{
	display: block;
	position: relative; 
	bottom: 4px; 
	width: 100%;
	font-size: 12px;

}

.wallpaper-ctrl{position: absolute;bottom: -44px;width: 55px;height: 21px; }

.wallpaperImg{
	width: 19px; 
	height: 19px;
	margin: 0 3px;
	overflow: hidden;
	background: url(image/arrow.png) no-repeat;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}
.pre{background-position: -2px -2px;}
.next{background-position: -25px -2px;}
.pre:hover{background-position: -3px -42px;}
.next:hover{background-position: -26px -42px;}
.suggestion{
	position: absolute; 
	right: 0;
	font-size: 12px;
	background: rgba(0,0,0,.5);
	
	border-radius: 10px;
	bottom: -40px;
	display: block;
	color: #000;
	width: 80px;
	left: 50%;
	margin-left: -40px;
	
	text-align: center;
}
.suggestion a{color: #fff;}

/*联系人*/
.btn{
	cursor: pointer!important;
	padding: 6px 10px!important;
	display: block!important;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 7px;
	width: auto;
	font-size: 14px;
	vertical-align: middle;
	border-color: #2c2727 #2c2727 #1a1919;
	position: relative;
	border: 1px solid;
	border-radius: 5px;
	font-family: '微软雅黑','Helvetica Neue',Helvetica,Arial,sans-serif;
	background:-webkit-linear-gradient(top,#555,#222);;
	top:-43px;
	left: 225px;
}
.btn_img{background: url(image/title_search_icon.png);
	width: 14px;
	height: 14px;
	display: block;
	margin: 0 4px;
	background-size: 100% 100%!important;
}
.tab{overflow: hidden;}
.tab_head{ border: 0;background: #fff;}
.tab_head li.active{border-bottom-color: #0aa7ff;color: #0aa7ff;}
.tab_head li{
	border: 0; 
	border-bottom: 2px solid #ccc;
	width:72.5px;
	height: 15.9px;
	padding: 10.4px; 12px;
	background: 0;
	box-shadow: 10px 0 0 -9px #ccc;
	cursor: pointer;
	display: inline-block;
	float: left;
	box-shadow: border-box;
	text-align: center;
	font-size: 16px;
	line-height: 15.9px;
}
.tab_head>li:first-child{
	border-left: 0;
} 
.tab_body{width: 100%;}
.member_tab_body{position: absolute;bottom: 0;top: 39px; }
.member_tab_body>li{display: none;height: 100%;backface-visibility:hidden;}
.member_tab_body>li.active{display: block;}

.f_list_scroll_area{bottom: 0;top: 0;position: absolute;left: 0;width: 100%;background:gray;}
#friend_groupList{border: 0;}
.group_list:first-child{margin-top: 0;}
.group_list{width: 100%;position: relative;box-sizing:border-box;background: #fff;box-shadow: 0 1px rgba(255,255,255,.7);}
.list_group{cursor: pointer;}
.list_group_title{border-top:0;}
.list_group_title{padding: .65em 28px .75em;display: block;position: relative;border-top:1px solid;}
.list_arrow_right{background: url(image/open_arrow.png) no-repeat 12px; background-size: 14px 14px;}
.list_group_white_title{border-width: 1px;border-top-color: #ccc;}
.onlinePercent{color: gray; font-size: 12px; float: right; line-height: 20px;}
