*{margin: 0;padding: 0;}
ul,li{list-style: none;list-style-position: outside;}
a{text-decoration:none;}
body{
	background: url("image/fullbody.png") repeat scroll transparent;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#title{
	width: 55px;
	height: 55px;
	position: absolute;
	top: 100px;
	right: 50px;
	z-index: 9999;
}
#title img{opacity: 0.3}
#title img:hover{opacity: 1;}



h1{display: block;}
.bgAllImage{display: block;position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
.wrap{width: 1000px; height: 100%;margin: 0	auto;}
#main_container{width: 280px;height: 100%;float: left; display: block;}
.main-panel{position: relative!important;
	display: block!important;
	width: 280px; 
	background: #fff;border-radius: 7px;
	box-shadow: 2px 2px 6px rgba(0,0,0,.7);
	height: 80%;
	top: 12%;
	transition:none!important;
}
.main-panel .panel_body{
	background: transparent;
}


.panel_body{
	width: 280px;
	height: 401px;
	position: relative;
	background: #ededed;
}
.accountHeader{
	z-index: 10001;
	position: absolute;
	display: block;
	width: 100%;
	top: -50px;
}
.avatar_wrap{
	width: 40px; 
	height: 40px;
	left: 20px; 
	top:-22px;
	position: absolute;
	border: 3px solid #fff;
	box-shadow: 1px 1px 5px #000; 
}
.avatar_wrap img{width: 40px; height: 40px;}
.state_online{background-position: 0 0;}
.state_online{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
	background-image: url(image/state_sprite.gif);
	background-repeat: no-repeat;

}
.user_nick{ 
	margin-left: 77px;
	top: -21px;	
	font-size: 16px;
	position: absolute; 
	text-shadow: 0 0 3px snow,0 0 3px snow,0 0 3px snow ,0 0 3px snow;
	overflow: hidden;
	height: 22px;
	width: 148px;
	line-height: 16px;
}
.text_ellipsis{text-overflow:ellipsis; overflow:hidden; white-space: nowrap;}
.user_shuoshuo{
	top: 4px; 
	font-size: 12px;
	margin-left: 77px;
	line-height: 12px;
	position: absolute;
	text-shadow:0 0 3px snow, 0 0 3px snow,0 0 3px snow, 0 0 3px snow;
	overflow: hidden;
	height: 22px;
	width: 148px;
}
.icons_list{
	position: absolute;
	left: 20px;
	top: 30px;
}

.icons_list a{text-indent: -9999px;
	float: left;
	margin-right: 8px;
	width: 15px;
	height: 15px;
	background-image: url(image/icons_list.png);
	background-repeat: no-repeat;
	

}
.i_qzone{background-position: 0 0;}
.i_mail{background-position: -20px 0;}
.i_weibo{background-position: -40px 0;}
.i_video{background-position: -60px 0;}
.i_qqwebsite{background-position: -81px 0;}
.i_music{background-position: -103px -1px;}
.i_wallet{background-position: -124px 0;}
.i_pengyou{background-position: -144px 0;}
.i_weiyun{background-position: -166px 0;}

.wallpaper-ctrl{position: absolute; bottom: -96px;}
.wallpaperImg{
	width: 19px;
	height: 19px;
	margin: 0 3px; 
	overflow: hidden;
	background: url(image/arrow.png) no-repeat;
	display: inline-block;
	text-decoration: none;
}
.panel_body .selected{display: block;}

#panel-2.selected{display: block;}
.panel{width:100%;height: 100%; position: absolute;left: 0;top:0; display: none;}
.panel header{height: 45px;width: 100%;border-radius: 6px 6px 0 0;}
header{background:linear-gradient(#555,#222);}
.panel_header{position: relative;z-index: 100;}
.padding_20{padding-right: 30px; padding-left: 20px;}


header>h1{
	padding: .75em .45em;
	color: #fff; 
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	text-align: center;
	box-flex:15;
}
h1{display: block;font-size: 2em;font-weight: bold;}
.panel_body_container{
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0px;
	top:0;

}
#panelBodyWrapper-1{top: 45px;}
.panel_body{
	background: transparent;
	width: 100%;
	height: 100%;
	position: relative;
}
.scrollWrapper{
	overflow: hidden;
	bottom: 0;
	top: 0;
	position: absolute;
	left: 0;
	width: 100%;
	max-height: 439px;
}
#current_chat_list{
	width: 100%;
}
.list:first-child {
	margin-top: 0;
}
.list{
	position: relative;
	box-sizing:border-box;
	background: #fff;
	box-shadow: 0 1px rgba(255,255,255,.7);
}
.list>li:first-child{border-top-width:0; }
.list>li:last-child{border-bottom:1px solid	#e3e3e3; }
.list>li{
	position:relative; 
	border-top: 1px solid #e3e3e3;
	padding:.15em 1px;
	line-height: 100%;
	cursor: pointer;
}
.list_white>li{
	border-color: #ccc;
	background: linear-gradient(#fff,#f1f1f1);
}
.list_item .avatar{float: left;position: relative;}
.avatar{width: 40px;height: 40px;margin:8px !important;}
.list_item .avatar img{width: 100%;height: 100%;}
.lazyLoadImg.loaded{
	opacity: 1;
}
.list_item:after{visibility: hidden;display: block; content: " ";clear: both;}
.lazyLoadImg{trsnsition:opacity 1s;}
.member_nick{line-height: 23px;height: 22px;overflow: hidden;}
.member_nick{padding: 6px 0 0 5px;}
.member_nick{padding-right: 5px !important;}
.member-msg{overflow: hidden; font-size: 12px;color: #aaa;line-height: 28px; padding-left: 5px;}
.text_ellipsis{overflow: hidden; text-overflow:ellipsis;white-space: nowrap;}

 footer{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 0 0 6px 6px;
	background: linear-gradient(#555,#222);
}
.nav_tab_head{
	width: 280px;height: 50px;
}
.nav_tab_head li {display: block;}
#session{border-radius: 0 0 0 6px;}
nav li.selected{
	background: #333;
	border-left-color: #222;
	
	text-shadow:0 1px 0 #000;
	box-shadow: inset 0 0 10px #111;

}
nav li{
	
	width: 68px;
	position: relative;
	overflow: hidden;
	height: 50px; 
	border-right: 1px solid #222;
	border-left: 1px solid #555;
	color: #ccc;
	font-size: 14px; 
	text-align: center;
	cursor: pointer;
	float: left;
	box-shadow: inset 0 0 10px transparent;
}
nav li:first-child{
	border-left: 0;
}
nav li:last-child{
	border-right: 0;
}
nav li a{
	display: inline-block;
	overflow: hidden;
	height: 100%;
	position: relative;
	color:#fff;
}
#setting{width: 70px;}
.selected.contact .icon {
background-image: url(image/tab_icon_conversation_selected.png);
}
.selected.conversation .icon{
	background-image: url(image/tab_icon_contact_selected.png);
}
.selected.plugin .icon{
	background-image: url(image/tab_icon_plugin_selected.png);
}
.selected.setup .icon{
	background-image: url(image/tab_icon_setup_selected.png);
}
.contact .icon{
	background-image: url(image/tab_icon_conversation.png);
}

.conversation .icon{
	background-image: url(image/tab_icon_contact.png);
}
.plugin .icon{
	background-image: url(image/tab_icon_plugin.png);
}
.setup .icon{
	background-image: url(image/tab_icon_setup.png);
}
nav a .icon{display: inline-block; width: 34px;height: 34px; background-size: 100% 100%;}

#nav_tab a span{
	display: block;
	position: relative; 
	bottom: 4px; 
	width: 100%;
	font-size: 12px;

}

.wallpaper-ctrl{position: absolute;bottom: -44px;width: 55px;height: 21px; }

.wallpaperImg{
	width: 19px; 
	height: 19px;
	margin: 0 3px;
	overflow: hidden;
	background: url(image/arrow.png) no-repeat;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}
.pre{background-position: -2px -2px;}
.next{background-position: -25px -2px;}
.pre:hover{background-position: -3px -42px;}
.next:hover{background-position: -26px -42px;}
.suggestion{
	position: absolute; 
	right: 0;
	font-size: 12px;
	background: rgba(0,0,0,.5);
	
	border-radius: 10px;
	bottom: -40px;
	display: block;
	color: #000;
	width: 80px;
	left: 50%;
	margin-left: -40px;
	
	text-align: center;
}
.suggestion a{color: #fff;}

/*联系人*/
.btn{
	cursor: pointer!important;
	padding: 6px 10px!important;
	display: block!important;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 7px;
	width: auto;
	font-size: 14px;
	vertical-align: middle;
	border-color: #2c2727 #2c2727 #1a1919;
	position: relative;
	border: 1px solid;
	border-radius: 5px;
	font-family: '微软雅黑','Helvetica Neue',Helvetica,Arial,sans-serif;
	background:-webkit-linear-gradient(top,#555,#222);;
	top:-43px;
	left: 225px;
}
.btn_img{background: url(image/title_search_icon.png);
	width: 14px;
	height: 14px;
	display: block;
	margin: 0 4px;
	background-size: 100% 100%!important;
}
.tab{overflow: hidden;}
.tab_head{ border: 0;background: #fff;}
.tab_head li.active{border-bottom-color: #0aa7ff;color: #0aa7ff;}
.tab_head li{
	border: 0; 
	border-bottom: 2px solid #ccc;
	width:72.5px;
	height: 15.9px;
	padding: 10.4px; 12px;
	background: 0;
	box-shadow: 10px 0 0 -9px #ccc;
	cursor: pointer;
	display: inline-block;
	float: left;
	box-shadow: border-box;
	text-align: center;
	font-size: 16px;
	line-height: 15.9px;
}
.tab_head>li:first-child{
	border-left: 0;
} 
.tab_body{width: 100%;background: gray;}
.member_tab_body{position: absolute;bottom: 50px;top: 39px; }
.member_tab_body>li{display: none;height: 100%;backface-visibility:hidden;}
.member_tab_body>li.active{display: block;}

.f_list_scroll_area{bottom: 0;top: 0;position: absolute;left: 0;width: 100%;}
#friend_groupList{border: 0;}
.group_list:first-child{margin-top: 0;}
.group_list{width: 100%;position: relative;box-sizing:border-box;background: #fff;box-shadow: 0 1px rgba(255,255,255,.7);}
.list_group{cursor: pointer;}
.list_group_title{border-top:0;height: 16px;line-height: 16px;}
.list_group_title{padding: .65em 28px .75em;display: block;position: relative;border-top:1px solid;}
.list_arrow_right{background: url(image/open_arrow.png) no-repeat 12px; background-size: 14px 14px;}
.list_group_white_title{border-width: 1px;border-top-color: #ccc;}
.onlinePercent{color: gray; font-size: 12px; float: right; line-height: 20px;}
#groupTitle-0{border-top: 0}
.list_group_body{display:none;}
.group_list .list{margin-top: 0;border: 0;box-shadow: none;}
.list{position: relative; box-sizing:border-box; background: #fff;}
.group_list .list>li:first-child{border-top-width: 1px;}
.member_tab .list_item{
	background: whitesmoke;
}
.list>li{
	position: relative;
	border-top:1px solid #e3e3e3;
	padding: .15em 1px; 
	line-height: 100%;
	cursor: pointer;
}
.list li:last-child{
	border-bottom: 0;
}
.list_white>li{
	border-color: #ccc;
}
.list_item .avatar{
	float: left;
	position: relative;
}
.avatar{
	width: 40px; height: 40px;margin:8px!important;
}
.member_tab .list_item img{
	float: left;
	margin-right: 12px;
	width: 40px;
	height: 40px;
}
.lazyLoadImg.load{opacity: 1;}
.lazyLoadImg{transition:opacity 1s;}
.member_nick{line-height: 23px;height: 22px;overflow: hidden;}
.member_nick{padding: 6px 0 0 5px;}
.member_nick{padding-right: 5px!important;}
.member_nick span{color: #aaa;line-height: 17px;font-size: 12px;}
.member_msg {
	overflow: hidden;
	font-size: 12px;
	color: #aaa;
	line-height: 28px;
	padding-left: 5px;
}

.member_signature {
padding-right: 6px!important;
}

/*群*/
#g_list{width: 100%;}
.avatar .group_mask{
	position: absolute;
	right: 0;
	width: 10px;
	height: 10px;
	bottom: 0;
	background: url(image/state_sprite.gif) -108px 0 no-repeat;
}
#group-item-group-3{border-bottom: 1px solid #e3e3e3;}

/*发现*/
.clearfix::after{
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	font-size: 0;
}
#plugin_list >li{width: 93.33px;height: 93.33px;}
#plugin_list>li{
	cursor: pointer;
	position: relative;
	float: left;
	background-color: #dadbe0;
	box-sizing:border-box;
	background-image: linear-gradient(#e7e8eb,#dadbe0 50%,#c7cbd2 75%,#d3d6db 95%,#d3d6dd);
	border:1px solid #eceef2;
	border-bottom-color: #c1c7d2;
	border-right-color: #c1c7d2; 
}
#plugin_list .icon{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: no-repeat center 18%;
	background-size: 60%
}
#plugin_list>li>a{
	bottom: 6px;
	position: absolute;
	left: 0;
	display: block;
	width: 100%;
	height: 19px;
	line-height: 19px;
	font-size: 13px;
	text-align: center;
}
#qzone>.icon{
	background-image: url(image/plugin_icon_qzone.jpg);
}
#qmail>.icon {
	background-image: url(image/plugin_icon_qmail.jpg);
}
#qq_portal>.icon {
background-image: url(image/plugin_icon_qq_portal.png);
}

/*设置*/

.list_page .group{padding: 10px;}
.list_page .group>.row:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.list_page .group>.row:first-child{
	border-top: 1px solid #afc8e2;
	border-top-left-radius: 5px;
	border-top-right-radius:5px; 
}
.list_page .group>.row{
	border-left: 1px solid #afc8e2;
	border-right:1px solid #afc8e2 ;
	border-bottom:1px solid #afc8e2 ;
	padding: 10px;
	background: #fff;
}
.list_page .group>.row>.cloumn{float: left;}
.profile_title_setting {
	padding-top: 5px;
	padding-left: 5px;
	width: 62%;

}
.profile_name{
	font-size: 1.4em;
	line-height: 1.4em;
}
.profile_account {
	color: #666;
	font-size: .9em;
	line-height: 14px;
}
.online_state_setting{
	position: relative;
	float: left;
	height: 20px;
	margin-top: 30px;
	font-size: 12px;
	cursor: pointer;
}
.online_state_setting .main_icon{
	display: block;
	width: 10px;
	height: 10px;
	background-image: url(image/state_sprite.gif);
	background-repeat: no-repeat;
	float: left;
	margin-right: 2px;
}

.online_state_setting .down_arrow{
	width: 10px;
	height: 10px;
	background-image: url(image/state_sprite.gif);
	background-repeat: no-repeat;
	background-position: -162px 4px;
	float: left;
	cursor: pointer;
}
.online_state_setting ul{
	display: none;
	position: absolute;
	border:1px solid #000;
	top: 20px;
	left: -40px;
	background: #fff;
	width: 70px;
}
.online_state_setting li{
	padding: 5px 3px;
	cursor: pointer;
	line-height: 12px;
}
.online_state_setting li i{
	display: block;
	width: 10px; 
	height:10px;
	background-image: url(image/state_sprite.gif);
	background-repeat: no-repeat;
	float: left;
	margin-right: 2px;

}
.online_state_setting li:hover {
background: #cff7ff;
}
.online_icon{background-position: 0 0;}
.callme_icon{background-position: -72px 0;}
.away_icon{background-position: -18px 0;}
.busy_icon{background-position: -36px 0;}
.hidden_icon{background-position: -54px 0;}
.silent_icon{background-position: -108px 0;}
.offline_icon{background-position: -90px 0;}

.profile_signature{line-height: 22px;overflow: hidden;}
.list_page .label{color: #666;float: left;width: 80px;}
.clickAble{cursor: pointer;}
.clickAble .row{line-height: 16px;} 
.list_page .more_icon{
	float: right;
	width: 16px;
	height: 16px;
	background: url(image/open_arrow.png) no-repeat center;
	background-size: 100% 100%;
	margin-left: 10px;
}
.list_page .lable{
	color: #666;
	float: left;
	width: 80px;
}
.loginout{
	background: linear-gradient(#f74634,#ce2715)!important;
	text-shadow: 0 0 10px #969696;
	color: #fff;
	text-align: center;
}
#about_qq_all{display:none;}

/*right*/
.container{position: relative;width: 700px;height: 100%;float: left;margin-left: 20px;overflow: hidden;}
.profile-panel{z-index: 10009;top: 12%;left: 0;height: 80%;width: 100%;}
.black header{color: #fff;background: linear-gradient(#555,#222);}



#panelTitle-notifySetting{width: 550px;height: 18px;float: right;}
#panelLeftButtonText-notifySetting{
	display: block;
	color: #fff;
	line-height: 100%;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100px;
	
	
}
.btn2_small{
	margin-left: 25px;
	margin-top: 5px;
	margin-bottom: 7px;
	display: block; 
	float: left;
	border-radius: 4px 4px 4px 4px;
	padding: .57em 10px;
	width: auto;
	font-size: 14px;
	vertical-align: middle;
	border-color: #2c2727 #2c2727 #1a1919;
	position: relative;
	border: 1px solid;
	cursor: pointer;
	transform:none;
	width: 50px;
	
	position: relative;
}
.notify_setting .switch{float: right;}
.switch{display: inline-block; width: 3.5em;height: 1.5em;position: relative;}
.switch-white>input:checked{
	background-image: linear-gradient(#5393c5,#6facd5);

}
.switch-white>input {
	background-image: linear-gradient(#d0d0d0,#dfdfdf);
}
.switch>input{
	margin: 0;
	width: 100%;
	height: 100%;
	border-radius: 6em;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-appearance: none;

}
.panel_body2{
	width: 100%;
	min-height: 100%;
	position: relative;
	background: #ededed;
}
.switch>input:checked~span {
	left: .21em;
}
.switch-white>span {

	background-image: linear-gradient(#fff,#f1f1f1);
}
.switch>span {
	position: absolute;
	top: 50%;
	left: 1.9em;
	margin-top: -.7em;
	width: 1.4em;
	height: 1.4em;
	
	border-radius: 1.6em;
	pointer-events: none;
	
	transition: left .1s linear;
}
.tips{color: #666;}
.list_page .long_label {
	color: #666;
	float: left;
}

/**/
.panelHeader-5{height: 40px;	}
.panelTitle-5{width: 471px;float: left;}
.btn3{
	cursor: pointer;
	width: 51px;
	height:15px; 
	padding:.57em 10px;
	font-size: 14px;
	border-color: #2c2727 #2c2727 #1a1919;
	background: -webkit-linear-gradient(top,#555,#222);
	border: 1px solid;
	border-radius: 5px;
	margin:5px 0 7px 15px;
	display: block;
	float: left;
	vertical-align: middle;
}

.btn4{
	width: 79px;
	height: 33px;
	margin: 5px 10px 7px 2px;
	padding: 6px 10px ;
	font-size: 14px;
	border-color: #2c2727 #2c2727 #1a1919;
	background: -webkit-linear-gradient(top,#555,#222);
	border: 1px solid;
	border-radius: 5px;
}
.btn3-Img{
	background: url(image/pannel-arrow-down.png);
	width: 14px;
	height: 14px;
	display: block;
	margin:0 4px;
	background-size: 100% 100%!important;
}
#panelHeader-5 h1{
	width: 471px;
	height: 18px;
	margin-top: -5px;
	float: left;
}
.btn3_text {
	max-width: 100px;
}
.btn3_text {
	display: block;
	color: #fff;
	line-height: 100%;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.chat_container{
	background: #a8b6b9;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5)!important;

}
.chat_container:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
}
.panel .chat_toolbar_footer{
	z-index: atuo;
	background: 0;
	min-height: 50px;
}
.panel footer{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
}
.chat_toolBar_footer{
	color: #fff;
}

.add_face_btn{border:0;background: 0;width: 38px;}

.panel .chat_toolbar{
	padding: 4px 10px 4px 6px;
	box-sizing:border-box;
	width: 100%;
	display: -webkit-box;
	background: linear-gradient(#555,#222);
	border-radius: 0 0 5px 5px;

}

.chat_toolbar .btn5 {
display: block;
cursor: pointer!important;
}
.btn_face {
	padding: 5px;
	cursor: pointer!important;
	position: relative;
	border-radius: 5px;
	font-size: 16px;
}
.chat_toolbar .btn_img{
	width: 30px;
	height: 30px;
	display: block;
}
.btn_face .btn_img{
	background: url(image/chat_bottombar_icon_face.png);
}
.btn_img{
	margin: 0 4px;
	background-size: 100% 100%!important;
}
.chat_textarea{
	display: block;
	border-radius: 5px;
	padding: 5px 10px;
	height: 32px;
	resize: none;
	margin: 5px 10px 5px 6px;
	max-height: 80px;
	overflow: hidden;
	width: 572px;height: 34px;
}
.input_white{
	color: #333;
	background: #f9f9f9;
	box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	line-height: 25px;
	font-size: 16px;
	font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input[type=text], textarea, fieldset {
	border: 0;
	outline: 0;
}
.send_chat_btn {
	width: 52px;
	height: 38px;
	border-color:#044062;
}
.btn5_small {
	padding: 6px 10px!important;
	display: block!important;
}
.btn5_small {
	display: inline-block;
	padding: .57em 10px;
	width: auto;
	font-size: 14px;
	vertical-align: middle;
}
.btn5_blue {
	
	background: #396b9e;
	background: -webkit-linear-gradient(top,#5f9cc5,#396b9e);
	text-shadow: 0 1px 1px #194b7e;
	border-radius: 5px;
	position: relative;
	border: 1px solid;
	margin: 2px 0;
}
.btn5_text {
	max-width: 100px;
}
.btn5_text {
	display: block;
	color: #fff;
	line-height: 100%;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 14px;
	font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.qq_face_area{

	width: 700;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
	cursor: pointer;
}
.qq_face_area .wrap li{
	list-style: none;
	height: 280px;
	float:left;
	transform:translate3d(0px,0px,0px);
	transition:all 0.2s ease-out;
}
.faceItem{
	width: 700px!important;
	background-repeat: no-repeat;
	background-size: contain;

}
.faceItem1{background-image: url(image/face1.jpg);}
.faceItem2{background-image: url(image/face2.jpg);}
.faceItem3{background-image: url(image/face3.jpg);}
.faceItem4{background-image: url(image/face4.jpg);}
.faceItem5{background-image: url(image/face5.jpg);}
.faceItem6{background-image: url(image/face6.jpg);}

.btnsWrap{
	padding: 0 0 10px 290px;
	border-radius: 0 0 6px 6px;
	background: rgba(3,34,34,.7);
	height: 299px;
	
}
.btnsWrap>li.selected{
	background: #000;
}
.btnsWrap>li{
	float: left;
	list-style-type: none;
	margin: 5px 10px 0 0;
	padding: 2px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: gray;
}

.qq_face_area ul li i{
	width: 99px;
	height: 92px;
	display: block;
	float: left;
}
.qq_face_area ul li i:hover {
	border: 1px solid #5f9cc5;
}

.pannel_menu_list {
	position: absolute;
	width: 100%;
	height: 80px;
	left: 0;
	top: -90px;
	overflow: hidden;
	background: #3c3c3c;
	box-shadow: #141111 0 2px 5px;
	display: none;
	
}
.pannel_menu_list li {
	height: 80px;
	width: 80px;
	text-align: center;
	float: left;
	font-size: 12px;
	background: linear-gradient(#4e4e4e,#2c2c2c);
	border-right: 1px solid #222;
	border-left: 1px solid #555;
	cursor: pointer;
	color: #fff;
	line-height: 12px;
}

.menu_list_icon {
	width: 40px;
	height: 40px;
	margin: 10px auto 5px;
	background-image: url(image/menu_icons.png);
	background-repeat: no-repeat;
}
.viewQzone .menu_list_icon {
	background-position: -128px 3px;
}
.viewInfo .menu_list_icon {
	background-position: -43px 2px;
}
.viewRecord .menu_list_icon {
	background-position: -90px 2px;
}

.chat_time{
	text-align: center;
}
.chat_time span{
	color: rgba(255,255,255,.8);
	background: rgba(0,0,0,.3);
	padding: 2px 8px;
	display: inline-block;
	margin: 10px;
	font-size: 13px;
	border-radius: 13px;
}
.self{text-align: center;width: 680px;height: 66px;}
.chat_content_group{padding: 10px;}
.chat_content_avatar{float: right;margin: 0 0 0 10px;width: 40px;height: 40px;}
.self .chat_nick{text-align:right;}
.chat_nick{font-size: 14px;margin: 0 0 10px; text-shadow:1px 1px 1px #fff;}
.self .chat_content{
	float: right;
	background: linear-gradient(#fff,#e1e1e1);
}
.chat_content{
	display: inline-block;
	min-height: 16px;
	max-width: 50%;
	border-radius: 5px;
	padding: 10px 15px;
	word-break: break-all;
	box-shadow: 1px 1px 5px #000;
	line-height: 1.4;

}