
body{
	width: 100%;
	height: 100%;
	padding: 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #777777;
	background-color: #ffffff;
	margin: 0 auto;
	overflow: auto;
}
#preview-frame{width: 100%;height: 500px;}
#header-bar{width: 100%;height: 53px;background-color: #000;border-bottom:1px solid	#191919;line-height: 53px; z-index: 100;margin-bottom: 1px;position: fixed;}
.close-header{width: 40px;margin-left: 5px;height: 52px;float: left;}
#close-button{display: block;width: 16px;height: 16px;margin: 0px auto;margin-top: 17px;border: 1px solid #545454;text-indent: -9999px;background-image:url("image/button-17795f92ca8e8b7cb702e5bb9bf081d0.png");background-repeat:  no-repeat; }
#meta-data{padding:0px;margin:0px;float: left;height: 53px;}
#meta-data a{text-decoration: none;color: #6e6e6e;}
.purchase{margin-left: 10px; border-left: 1px solid #6e6e6e; padding-left: 15px;}
.themeforest-logo{width: 270px; height: 53px; background-image: url("image/themeforest-purchasethis.png");}
.site-loopbank{display: block;margin-left: -10px;margin-top: 1px;float: right;background-repeat: no-repeat; background-position: left top;text-indent: -9999px;}

#container{width: 965px; margin: 0 auto;padding-top: 53px; }
#logo{float: left;margin: 10px 0 0 0;}
#nav{float: right; margin:40px 5px 0 0;}
#nav li{float: left;}
.page-item{padding: 0 8px 0 8px; text-decoration: none; color: #852432; display: block;float: left;}
.page-itemS{color: #ffffff;background-color: #852432;}

#search{float: left;width: 920px;margin: 20px 0 1px 0;padding: 10px 20px 10px 20px; background:url("image/search_bg.jpg") repeat-x #fff0e0 bottom;font-size: 12px; color: #852432;border-top: 1px solid #fef6ee;border-bottom: 1px solid#ebd0b4;}
.left{float: left;}
#searchfield input{width: 285px;height: 22px; padding: 2px 0 0 25px;margin: 2px 0 0 0;border: 1px solid #ebd0b4;background: url("image/searchicon.jpg") no-repeat #ffffff 3px 3px;}
#searchfield{float: right;width: 285px;height: 24px;}


#homeheader{float: left;width: 960px;height: 314px; color: #999999;margin: 0 0 20px 0;}
#homeheader img{float: left;}
#homeintro{width: 290px;height: 276px;padding: 19px;border-right: 1px solid #3c69ac;border-left: 1px solid #4e79bb;background: url("css/image/headerintrobg.jpg") repeat-x #3c69ac bottom;float: right;}
#homeintrotitle{width: 290px;height: 34px;margin: 30px 0 20px 0;font-size: 28px;line-height: 30px;color: #ffffff;font-family:sans-serif;}
#homeintro span{padding:  0 0 20px 0;}
#selectbutton{width: 300px; height: 60px;}
#btnleft{background:url("image/btn_left_bg.jpg") no-repeat;width: 145px;height: 27px; padding: 3px 0 0 0;float: left; display: block;text-align: center; margin: 30px 0 0 0;color: #4f4840;text-decoration: none; }
#btnright{background:url("image/btn_right_bg.jpg") no-repeat;width: 145px;height: 27px; padding: 3px 0 0 0;float: left; display: block;text-align: center;margin: 30px 0 0 0; color: #4f4840;text-decoration: none;}
#btnleft:hover{color: #999999;}
#btnright:hover{color: #999999;}

#homewelcome{width: 295px;float: left;display: inline;margin: 0 20px 0 0;}
#homewelcometitle{width: 295px;height: 62px; margin: 0 0 10px 0;}
#homewelcometitle span{color: rgb(133,36,50);font-size: 28px;line-height: 30px;}
.homewelcomeC{display: block;height: 192px;margin-bottom: 20px;width: 295px;}
#newlistings{width: 295px;height: 315px; margin: 0 20px 0 0; float: left;}
h2{font-size: 14px;line-height: 14px;margin-bottom: 8px;color: #4f4840;text-transform: uppercase; border-bottom: 1px solid #4f4840;font-weight: normal;}
h3{line-height: 18px; color: #852432;}
.listing{width: 295px;height: 93px; margin: 0 0 10px  0 ;float: left;}
.listing img{float: left; padding: 2px; margin: 0 10px 0 0;border: 1px solid #d8d6d4;}
.right{position: absolute;float: left;}
.imgwrap{width: 130px;height: 80px; float: left;}
.Listing h3{float:right; font-size: 14px;width: 165px;margin-bottom:-8px;font-weight: normal;}
.location{font-size: 10px;margin: 0; color: #aaaaaa;}
.price{font-weight:bold;margin-bottom: -5px;}
.price span{font-weight: normal;font-size: 12px;}
.bedbathsqft{font-size: 12px; margin: 0; color: #777777;}

.sIFR-replacedS3{width: 288px;height: 24px;}
.sIFR-replaced a:hover{color: #4f4840;}
.sIFR-replaced a{color: #852432; text-decoration: none;}
#status-sm{position: relative;top: 0px; left: 0px;border: none;}

#featuredlisting{width: 330px;height: 341px;float: left;}
#featuredlisting h3{ font-size: 18px;width: 165px;margin-bottom:-8px;font-weight: normal;}
#featuredwrap{float: left;width: 328px;border: 1px solid #cccccc;}
.featuredlistingprice{margin: 0 0 0 20px;font-weight: bold;}
.address{width: 288px;height: 40px;padding: 10px 20px 8px 20px;border-bottom: 1px solid #ebd0b4;margin: 0 0 10px 0;background-color: #f7e0c8; }
.bedbathsqft{margin-left: 20px; color: #777777;}
.propertytype{margin: 0 0 10px 20px;font-size: 10px;color: #aaaaaa; }
.left{float: left;}
#footer{float: left;width: 960px;height: 54px; margin: 30px 0 0 0; border-top: 1px solid #cfcfcf;background: url("image/footerbg.jpg") repeat-x top;}
#footer p{margin: 10px 20px 20px 10px; color: #aaaaaa; font-size: 11px;}
.fleft{float: left;}
.fleft a ,.fright a{color: #4f4840;text-decoration: none;}
.fright{float: right;}
