*{margin: 0px; padding:0px;}
ul,li{list-style: none;list-style-position: outside;}
img{border: 0;}

#title{
	width: 55px;
	height: 55px;
	position: absolute;
	top: 100px;
	right: 50px;
	z-index: 9999;
}
#title img{opacity: 0.3}
#title img:hover{opacity: 1;}