*{margin: 0;padding: 0}
ul,li{list-style: none;list-style-position: outside;}
a{color: #60b7e1;text-decoration: none;}
body{color: #666; background-image: url("image/jqbg.jpg");font-size: 12px; color:#666;font-family: "微软雅黑";}
img{border: 0;}
div{display: block;}
.nav{position: fixed; top: 0;left: 0;width: 86px; height: 100%;margin: 0 auto;background-image: url(image/jqbg.jpg);border-collapse: separate;border-right: 1px solid #cccccc;}
.all-nav{position: absolute;left: 0; width: 86px; height: 100%;overflow: visible;border-style: none;position: absolute;}
.home{height: 74px; border-bottom: 1px solid #ccc;}
.home:hover{background-color: #fff;}
.nav .btnone{border-top:none;}
.item{width: 86px;height: 89px;border-top: 1px solid #d7d7d7;}
.item:hover{background-color: #fff;}
.gohome{display: block;padding-top: 23px;padding-left: 25px;}

.product{position: absolute; width: 86px;height: 89px;z-index: 55;}
.product h3{width: 52px; height: 34px; padding-top: 10px; padding-left: 25px; padding-right: 3px; border-width: 1px 0;font-weight: normal; line-height: 36px;}
.product h3:hover{width: 62px;height: 89px; background-color: #fff;line-height: 32px;}
.product a{color: #666666;font-size: 14px;}
.icn{width: 34px; height: 39px; display: block;background-image: url(image/picn.png);}
.icn-i{padding-left: 5px;}
.icn5{background-position: 136px 0;}
.icn4{background-position: 102px 0;}
.icn3{background-position: 68px 0;}
.icn2{background-position: 34px 0;}
.pos01{border-top: 3px none #1d65a9;border-bottom: 3px none #1d65a9;border-right: 3px solid	#1d65a9;border-left: 3px solid #1d65a9;}
.all-nav .product-wrap{position: fixed;width: 248px;height: 100%;left:86px;background-color: #fff;box-shadow: 1px 0 10px 5px #ccc;top: 0;}
.product-wrap h2{background-color: #1d65a9;line-height: 75px;color: #ffffff;font-size: 16px;text-indent: 20px }
h2{font-family: "microsoft yahei";font-size: 14px;}

.mCustomScrollbar{height: 90%;}
.mCustomScrollBox{position: relative;height: 100%;overflow: hidden;max-width: 100%;}
#mCSB_1{position: relative;height: 100%;overflow: hidden;max-width: 100%;}
.mCSB_container{width: auto;margin-right: 0px;overflow: hidden;}
.product-wrap ul{padding-left: 20px;padding-top: 20px;padding-right: 20px;}
.product-wrap li{line-height: 40px;font-size: 16px;border-bottom: 1px dotted #cccccc;}
.product-wrap a{ display: block;color: #999;}
.product-wrap a:hover{background-color: #dff8ff;text-decoration: none;color: #000;font-weight: bold;}
.ic{background-image: url(image/pui.png);padding-left: 30px; background-repeat: no-repeat;height: 20px; display: inline-block;}

.pos02{border-top: 3px none #9d3c25;border-bottom: 3px none #9d3c25;border-right: 3px solid	#9d3c25;border-left: 3px solid #9d3c25;}
.pos02 h2{background-color: #9d3c25;}
.ic2{background-image:url(image/psr.png);padding-left: 30px;background-repeat: no-repeat;height: 20px;display: inline-block; }
.pos03{border-top: 3px none #861da9;border-bottom: 3px none #861da9;border-right: 3px solid	#861da9;border-left: 3px solid #861da9;}
.pos03 h2{background-color:#861da9;}
.ic3{background-image:url(image/pmt.png);padding-left: 30px;background-repeat: no-repeat;height: 20px;display: inline-block; }
.pos04{border-top: 3px none #007c59;border-bottom: 3px none #007c59;border-right: 3px solid	#007c59;border-left: 3px solid #007c59;}
.pos04 h2{background-color: #007c59;}
.ic4{background-image:url(image/pdh.png);padding-left: 30px;background-repeat: no-repeat;height: 20px;display: inline-block;}
.pos05{border-top: 3px none #911c3c;border-bottom: 3px none #911c3c;border-right: 3px solid	#911c3c;border-left: 3px solid #911c3c;}
.pos05 h2{background-color: #911c3c;}
.ic5{background-image:url(image/pqt.png);padding-left: 30px;background-repeat: no-repeat;height: 20px;display: inline-block;}

/*Right*/
.right{padding-top: 0;padding-right: 0;padding-left: 0;margin-left: 86px;}
.herad{width: 100%;border-bottom: 1px solid #d6d6d6;padding-bottom: 16px;background-color: #e4e4e2;height: 58px;}
.f{float: left;height: auto;}
.logo{margin-top: 15px; margin-left: 45px;}
.search{padding-left: 5%; padding-top: 20px; float: left;}
.searchtxt{width: 268px;height: 32px;border: 1px solid #d0d0d0; background-color: #e9e9e9;padding-left: 10px;line-height: 28px;display:block;float: left;}
.seaButt{width: 70px;height: 32px;border: 1px solid #449a99;background-color: #449a99;color: #fff;outline: none;cursor: pointer;text-align: center;display: block; float:left;}
.topNav{font-size: 12px;color: #fff;float: right;}
.topNav li{float: right;}
.topNav a{color: #666666;
display: block;
line-height: 26px;
padding-right: 10px;
padding-left: 10px;
margin-right: 1px;
margin-left: 1px;
border-top: 0px solid #cccccc;
border-bottom: 1px solid #cccccc;
border-right: 1px solid #cccccc;
border-left: 1px solid #cccccc;
}
.df{clear: left;}

.m{height: auto;width: 100%;}
.add{float: left;width: 250px;height: 339px;padding-left: 45px;margin-right: 2%;margin-top:2%;border-radius: 5px;}
.addsm{line-height: 26px;font-size: 12px;padding-left: 20px;font-weight: bold;color: #bababa; background-color: #f3f3f3;border-top-left-radius: 5px; border-top-right-radius: 5px;}
.uptown{width: 250px;height: 250px;position: relative;overflow: hidden;}
.uptown img{display: block;width: 250px;height: 250px;}
.addlogo{background: url(image/cpro_media_small.png) no-repeat left top; display: block;height: 18px;width: 26px;text-align: justify;letter-spacing: 20px;text-decoration: none;overflow: hidden;cursor: default;position: absolute;bottom: 0;right: 0;}
.addimg{border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}